#----------------------------------------------------------------------
# 参考：https://github.com/github/gitignore/tree/main
#----------------------------------------------------------------------

# macOS関連。
.DS_Store